body {
    background-color: black;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background: url("../img/fond-topbar.png");
    color: white;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.title-container{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
}

.title {
    font-family: 'Days One', sans-serif;
    color: white;
    font-size: 35px;
    padding: 20px;
}

.introduction {
    padding: 125px;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    color: white;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: url("../img/fond-topbar.png");
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: fixed;
}

.photo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

a {
    color: white;
}

.logos {
    padding: 0 15px;
}

a:hover {
    text-decoration: underline;
    color: red;
    margin: auto;
}

a.logos:hover{
    text-decoration: none;
}

.container{
    width: 1024px;
}

@media (max-width: 780px) {
}