body {
    background-color: black;
}

header {
    background: url("../img/fond-topbar.png");
    position: fixed;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex-direction: row;
    margin: auto;
}

.title-container{
    display: flex;
    text-align: center;
    align-items: center;
}

.title {
    font-family: 'Days One', sans-serif;
    text-align: center;
    position: relative;
    color: white;
    font-size: 35px;
    padding: 20px;
}

.introduction {
    padding: 125px;
    font-family: 'Mitr', sans-serif;
    font-size: 16px;
    color: white;
}

footer {
    background: url("../img/fond-topbar.png");
    width: 24%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex-direction: row;
    margin: auto;
}

a {
    color: white;
}

.logos {
    padding: 0 10px;
}

a:hover {
    text-decoration: underline;
    color: red;
    margin: auto;
}

a.logos:hover{
    text-decoration: none;
}
